/*general*/
body {
  background-color: #F2F2F2;
}

nav {
  background-color: #91798A;
  height: 67px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  @media only screen and (min-width : 768px){
    display: none;
  }
}

h1 {
  color: #555555;
  font-family: Verdana, sans-serif;
  font-size: 21pt;
  font-weight: normal;
  margin: 90px 0 40px 0;
}

h2 {
  color: #989898;
  font-family: Verdana, sans-serif;
  font-size: 14pt;
  font-weight: normal;
  margin: 20px 0 20px 0;
}

#activeTab {
  border-bottom: 5px solid #430042;
}

/*general-responsive*/
#titleMobile {
  @media only screen and (min-width : 768px){
    display: none;
  }
}
#titleTablet {
  background-color: #91798A;
  border-bottom: 5px solid #430042;
  border-radius: 10px 10px 0 0;
  height: 60px;
  @media only screen and (max-width : 768px){
    display: none;
  }
  img {
    float: left;
    margin: 15px 0 0 20px;
  }
  h1 {
    color: white;
    display: inline;
    float: left;
    margin: 10px 0 0 15px;
  }
}

/*tab1*/
.tab1 {
  display: inline;
  float: left;
  height: 62px;
  text-align: center;
  width: 50%;
  img {
    margin-top: 15px;
  }
}

.infoTab1 {
  margin: 0 5px 60px 5px;
  @media only screen and (min-width : 768px){
    display: inline-block;
    margin: 30px 0 60px 3%;
    width: 50%;
  }
  .container {
    background-color: #DEDEDE;
    border-radius: 10px;
    height: 365px;
  }
}

/*tab2*/
.tab2 {
  display: inline;
  float: right;
  height: 62px;
  text-align: center;
  width: 50%;
  img {
    margin-top: 15px;
  }
}

  .infoTab2 {
    display: none;
    margin: 0 5px 60px 5px;
    @media only screen and (min-width : 768px){
      display: inline-block;
      float: right;
      margin: 30px 3% 0 0;
      width: 40%;
    }
    .tableContainer {
      background-color: #FFFFFF;
      border-radius: 10px;
      table {
        border: none;
        border-bottom: 1px solid #F2F2F2;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        td {
          position: relative;
        }
        img {
          float: right;
          height: 30px;
          padding: 0 10px 0 15px;
          @media only screen and (min-width : 768px){
            padding-left: 1%;
          }
        }
        p {
          color:#A1A1A1;
          font-family: Verdana,sans-serif;
          font-size: 9pt;
          padding-left: 20px;
          @media only screen and (min-width : 768px){
            padding-left: 0;
          }
            .newItem {
                color: #00CF64;
                text-transform: uppercase;
            }
            .modifiedItem {
                color: #35C2ED;
                text-transform: uppercase;
            }
          }
        }
        .showMore {
          text-align: center;
          padding: 20px;
        }
      }
    }

    tr:hover {
      background-color: #F5F5F5;
    }

    /*tab2-showMoreButton*/
    #invisibleItem {
      display: none;
    }

    #visibleItem {
      display: table-row;
    }

    /*tab2-hoverEffect*/

    #smileHover {
      display: none;
      position: absolute;
      right: 30px;
      top: 15px;
    }
